<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hreader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <hreader.Properties.Settings>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Trimming" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Trimlimit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CommonWords" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value>#C73679</value>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value>#3679C7</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
        </hreader.Properties.Settings>
    </userSettings>
</configuration>